.board-of-directors {
  text-align: center;
}

.board-of-directors h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  padding: 0%;
  margin: 0%;
}

.brdofdrk-box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.box-img1 img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  margin: 1%;
}

.brdofdrk-box1 div {
  display: flex;
  flex-direction: column;
  flex: 300px;
  padding: 1%;
}

.box-img1 {
  align-items: center;
}

.name1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.title1 {
  font-size: 1.2em;
  color: #555;
  display: block;
}

.name1,
.title1 {
  font-family: "AppleGaramond-Bold";
  text-align: left;
}

.details1 {
  font-family: "Roboto";
  font-size: 1.5em;
  line-height: 1.6;
  text-align: left;
  padding: 2.5% 0 0 3%;
}

.hdi1 {
  display: none !important;
}

.blur-up {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
  will-change: filter;
}

.lazyloaded {
  filter: blur(0);
}

/* Responsive Design */
@media (max-width: 2561px) {
  .details1 {
    font-size: 1.3em;
  }
  .box-img1 img {
    width: 75%;
  }
}

@media (max-width: 1441px) {
  .details1 {
    font-size: 1.2em;
  }
  .box-img1 img {
    width: 90%;
  }
}

@media (max-width: 1025px) {
  .details1 {
    font-size: 1em;
  }
  .box-img1 img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hdi1 {
    display: block !important;
  }

  .hdi2 {
    display: none !important;
  }

  .name1 {
    font-size: 1.5em;
  }

  .title1 {
    font-size: 1.1em;
  }

  .details1 {
    font-size: 1em;
    text-align: left;
  }

  .board-of-directors h1 {
    font-size: 3em;
  }
}

@media (max-width: 426px) {
  .hdi1 {
    display: block !important;
  }

  .hdi2 {
    display: none !important;
  }

  .name1 {
    font-size: 1.4em;
  }

  .title1 {
    font-size: 1em;
  }

  .name1,
  .title1 {
    text-align: center;
  }

  .details1 {
    font-size: 1em;
    text-align: left;
  }

  .board-of-directors h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 376px) {
  .hdi1 {
    display: block !important;
  }
  .hdi2 {
    display: none !important;
  }

  .name1 {
    font-size: 1.3em;
  }

  .title1 {
    font-size: 0.9em;
  }

  .name1,
  .title1 {
    text-align: center;
  }

  .details1 p {
    font-size: 0.9em;
    text-align: left;
  }
  .board-of-directors h1 {
    font-size: 2em;
  }
}
@media (max-width: 321px) {
  .hdi1 {
    display: block !important;
  }

  .hdi2 {
    display: none !important;
  }

  .name1 {
    font-size: 1.2em;
  }

  .title1 {
    font-size: 0.8em;
  }

  .name1,
  .title1 {
    text-align: center;
  }

  .details1 p {
    font-size: 0.8em;
    text-align: left;
  }
  .board-of-directors h1 {
    font-size: 1.5em;
  }
}
