.about-us {
  margin: 5%;
  text-align: center;
}

.about-us h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  padding: 0%;
  margin: 0%;
}

.content-profile {
  display: flex;
  justify-content: center;
}

.content-profile p {
  font-family: "Roboto", serif;
  font-size: 1.2em;
  hyphens: auto;
  line-height: 2;
  padding: 0 10%;
  margin: 0%;
}

.content-profile p span {
  color: darkviolet;
}

/* Vision, Mission, Goals , Core Values,*/
.corevalues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.vmgc-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-vmgc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 500px;
}

.box-vmgc h2 {
  text-align: center;
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
}

.grnclr {
  color: darkgreen;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 2561px) {
  .about-us h1 {
    font-size: 3.5vw;
  }

  .content-profile p {
    text-align: left;
    padding: 2vh 5vw 5vh 6.5vw;
    font-size: 2.3vw;
  }

  .box-vmgc {
    max-width: 40vw;
  }

  .box-vmgc h2 {
    font-size: 3.5vw;
  }
  .box-vmgc p {
    font-size: 2vw;
  }
  .box-vmgc li {
    font-size: 2vw;
  }
  .box-vmgc div {
    font-size: 2vw;
  }
}

@media (max-width: 1441px) {
  .content-profile p {
    padding: 1.5vh 5vw 5vh 6.5vw;
  }
}

@media (max-width: 1025px) {
  .about-us h1 {
    font-size: 3.5vw;
  }

  .content-profile p {
    padding: 1vh 5vw 5vh 6.5vw;
  }

  .box-vmgc {
    max-width: 400px;
  }

  .box-vmgc h2 {
    font-size: 3vw;
  }
}
@media (max-width: 769px) {
  .about-us h1 {
    font-size: 8vw;
  }

  .content-profile p {
    padding: 0.5vh 5vw 5vh 6.5vw;
    font-size: 4vw;
  }

  .box-vmgc h2 {
    font-size: 6vw;
  }
}

@media (max-width: 426px) {
  .box-vmgc p {
    font-size: 4vw;
  }

  .about-us h1 {
    font-size: 8vw;
  }

  .box-vmgc h2 {
    font-size: 6.5vw;
  }

  .content-profile p {
    padding: 0.5vh 5vw 5vh 6.5vw;
    font-size: 4vw;
  }

  .box-vmgc li {
    font-size: 4vw;
  }

  .box-vmgc div {
    font-size: 4vw;
  }
}

/* 
@media (max-width: 376px) {
}
@media (max-width: 321px) {
} */
