.about-us {
  text-align: center;
}

.gsmcivideobox {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.gsmcivideo {
  aspect-ratio: 560 / 314;
  width: 100%;
  max-width: 50%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 3px 3px 6px 1px #b1b1b1;
}

.gsmcivideo iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.about-us h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

.content-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-profile p {
  font-family: "Roboto", serif;
  hyphens: auto;
  line-height: 2;
  margin: 0;
  padding: 2vh 15vw 5vh 16.5vw;
  font-size: 1.3vw;
}

.content-profile p span {
  color: darkviolet;
}

/* Vision, Mission, Goals, Core Values */

 ul li::marker {
  color: #0b517d; /* bullet only */
}


.corevalues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.vmgc-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-vmgc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin: 30px;
  max-width: 35vw;
  width: 100%;
}

.box-vmgc h2 {
  text-align: center;
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
  font-size: 1.8vw;
}

.box-vmgc p,
.box-vmgc li,
.box-vmgc div {
  font-size: 1.3vw;
}

.grnclr {
  color: darkgreen;
  font-weight: bold;
}

.mr-abtus a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  text-decoration: none;
}

.fa-arrow-circle-right {
  color: darkgreen !important;
}

.fa-arrow-circle-right:hover {
  transition: transform 0.6s ease;
  transform: scale(1.1);
}

.fa-arrow-circle-right:hover ~ .rdmr {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

.rdmr {
  color: black !important;
}

.rdmr:hover {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

/* Responsive Design */
@media (max-width: 2560px) {
  .about-us h1 {
    font-size: 3vw;
  }

  .gsmcivideo {
    max-width: 630px;
  }

  .content-profile p {
    padding: 2vh 15vw 5vh 16.5vw;
    font-size: 1.5vw;
  }

  .box-vmgc {
    max-width: 30vw;
    padding: 3%;
  }

  .box-vmgc h2 {
    font-size: 2.5vw;
  }

  .box-vmgc p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 1.5vw;
  }

  .fa-arrow-circle-right {
    font-size: 3vw;
  }
}

@media (max-width: 1440px) {
  .content-profile p {
    padding: 2vh 15vw 5vh 16.5vw;
  }
}

@media (max-width: 1024px) {
  .box-vmgc {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .gsmcivideobox {
    padding: 5%;
  }

  .fa-arrow-circle-right {
    font-size: 7vw;
  }

  .about-us h1 {
    font-size: 8vw;
  }

  .content-profile p {
    padding: 0.5vh 5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4.5vw;
  }

  .box-vmgc {
    max-width: 600px;
  }

  .box-vmgc h2 {
    font-size: 6vw;
  }

  .box-vmgc p {
    font-size: 4vw;
  }
}

@media (max-width: 425px) {
  .gsmcivideo {
    max-width: 100%;
  }
  
  .box-vmgc h2 {
    font-size: 6.5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4vw;
  }
}
