@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.about-us {
  text-align: center;
}

.about-us h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  margin: 0;
  padding: 0;
}

.content-profile {
  display: flex;
  justify-content: center;
}

.content-profile p {
  font-family: "Roboto", serif;
  hyphens: auto;
  line-height: 2;
  margin: 0;
}

.content-profile p span {
  color: darkviolet;
}

/* Vision, Mission, Goals, Core Values */
.corevalues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.vmgc-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-vmgc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  width: 100%;
}

.box-vmgc h2 {
  text-align: center;
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
}

.grnclr {
  color: darkgreen;
  font-weight: bold;
}

/* The Modal Img Start */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.gsmci-building {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.img1 {
  /* max-width: 85vw;
  max-height: 600px; */
  box-shadow: 1px 2px 11px 2px #828282a6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 50vw 1% 0 1%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* The Modal Img End */

/* Responsive Design */
@media (max-width: 2560px) {
  .about-us h1 {
    font-size: 3vw;
  }

  .content-profile p {
    padding: 2vh 15vw 5vh 16.5vw;
    font-size: 1.5vw;
  }

  .box-vmgc {
    max-width: 35vw;
    padding: 3%;
  }

  .box-vmgc h2 {
    font-size: 2.5vw;
  }

  .box-vmgc p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 1.5vw;
  }

  .img1 {
    width: 70%;
  }

  .modal {
    padding: 10vw 1% 0 1%;
  }

  .close {
    font-size: 5vw;
  }
}

@media (max-width: 1440px) {
  .content-profile p {
    padding: 2vh 10vw 5vh 11.5vw;
  }
}

@media (max-width: 1024px) {
  .box-vmgc {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  /* .about-us {
    margin: 10% 3% 3% 3%;
  } */

  .about-us h1 {
    font-size: 8vw;
  }

  .content-profile p {
    padding: 0.5vh 5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4.5vw;
  }

  .box-vmgc {
    max-width: 600px;
  }

  .box-vmgc h2 {
    font-size: 6vw;
  }

  .box-vmgc p {
    font-size: 4vw;
  }
  .img1 {
    width: 100%;
  }

  .modal {
    padding: 30vw 1% 0 1%;
  }

  .close {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  .box-vmgc h2 {
    font-size: 6.5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4vw;
  }
}
