.about-us {
  text-align: center;
}

.about-us h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  margin: 0;
  padding: 0;
}

.content-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-profile p {
  font-family: "Roboto", serif;
  hyphens: auto;
  line-height: 2;
  margin: 0;
}

.content-profile p span {
  color: darkviolet;
}

/* Vision, Mission, Goals, Core Values */
.corevalues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.vmgc-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-vmgc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  width: 100%;
}

.box-vmgc h2 {
  text-align: center;
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
}

.grnclr {
  color: darkgreen;
  font-weight: bold;
}

.mr-abtus a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  text-decoration: none;
}

.fa-arrow-circle-right {
  color: darkgreen !important;
}

.fa-arrow-circle-right:hover {
  transition: transform 0.6s ease;
  transform: scale(1.1);
}

.fa-arrow-circle-right:hover ~ .rdmr {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

.rdmr {
  color: black !important;
}

.rdmr:hover {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

/* Responsive Design */
@media (max-width: 2560px) {
  .about-us h1 {
    font-size: 3vw;
  }

  .content-profile p {
    padding: 2vh 15vw 5vh 16.5vw;
    font-size: 1.5vw;
  }

  .box-vmgc {
    max-width: 35vw;
    padding: 3%;
  }

  .box-vmgc h2 {
    font-size: 2.5vw;
  }

  .box-vmgc p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 1.5vw;
  }

  .fa-arrow-circle-right {
    font-size: 3vw;
  }
}

@media (max-width: 1440px) {
  .content-profile p {
    padding: 2vh 10vw 5vh 11.5vw;
  }
}

@media (max-width: 1024px) {
  .box-vmgc {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  /* .about-us {
    margin: 10% 3% 3% 3%;
  } */
  .fa-arrow-circle-right {
    font-size: 7vw;
  }

  .about-us h1 {
    font-size: 8vw;
  }

  .content-profile p {
    padding: 0.5vh 5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4.5vw;
  }

  .box-vmgc {
    max-width: 600px;
  }

  .box-vmgc h2 {
    font-size: 6vw;
  }

  .box-vmgc p {
    font-size: 4vw;
  }
}

@media (max-width: 425px) {
  .box-vmgc h2 {
    font-size: 6.5vw;
  }

  .content-profile p,
  .box-vmgc li,
  .box-vmgc div {
    font-size: 4vw;
  }
}
