@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.disclosure-h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.disclosure-h1 h1 {
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
}

.permit-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.disclosure .scencm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: green;
  font-family: "Roboto";
}

.disclosure-pic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 5%;
  margin-bottom: 3%;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* white-space: nowrap; */
  gap: 10%;
}

.img0 {
  /* max-width: 90vw;
  max-height: 400px; */
  padding: 1%;
  margin: 0.5%;
  border: solid 2px darkgreen;
}

.img1 {
  width: 100%;
  padding: 1%;
  border: solid 2px darkgreen;
}

.scfrm {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 0;
}

/* blur img effect */
.blur-up {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
  will-change: filter;
}

.lazyloaded {
  filter: blur(0);
}

/* blur img effect end */

/* The Modal (background) Start */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 700px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -22px; */
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

/* Responsive Design */
@media (max-width: 2560px) {
  .disclosure-pic {
    height: 50vh;
    gap: 5%;
  }

  .scfrm {
    font-size: 2vw;
  }

  .img0 {
    height: 50vh;
  }

  .disclosure-h1 h1 {
    font-size: 3vw;
  }

  .scencm {
    font-size: 2vw;
  }
}

@media (max-width: 1440px) {
  .disclosure-pic {
    height: 90vh;
  }
}

@media (max-width: 1024px) {
  .disclosure-pic {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .img0 {
    width: 90%;
    height: 100%;
  }

  .disclosure-pic {
    height: 100%;
    gap: 10%;
  }

  .prev,
  .next {
    display: none;
  }
}

.disclosure-pic img {
  cursor: pointer;
}

@media (max-width: 480px) {
  .scfrm {
    font-size: 3.5vw;
  }

  .disclosure-h1 h1 {
    font-size: 8vw;
  }

  .prev,
  .next {
    display: none;
  }

  .disclosure .scencm {
    font-size: 1em;
  }
}
