@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background-color: white !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* Loading screen style */
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white !important;
  background: url("../logo-load.gif") center no-repeat;
  background-size: initial;
  z-index: 99999;
}

/* Disable scrolling when loading */
body.no-scroll {
  overflow: hidden;
}

.content1 {
  margin: 20vh 0 20vh 0;
}

/* .content1 { */
/* position: relative; Required for the ::after pseudo-element */
/* display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap; */
/* align-items: center; */
/* padding: 3% 6% 10% 6%; */
/* width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  z-index: -999;
  overflow: hidden; */
/* transition: background 0.5s ease; */
/* } */

/* Prevents flickering during animation */
.content1.loaded {
  background: transparent;
}

.content1.loaded::after {
  content: "";
  position: absolute;
  top: 0;
  /* top: 100%; */
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../GSMCI-Pictures/img/LANDING\ PAGE\ IMAGE.jpg") no-repeat
    center center;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  z-index: -999;
  overflow: hidden;

  /* animation: slide-up 0.6s ease-out forwards; */
}

/* @keyframes slide-up {
  from {
    bottom: 0%;
  }
  to {
    top: 0%;
  }
} */

.cnt1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cnt1 h1 {
  margin-bottom: 0%;
}

.gm {
  color: darkviolet;
}

.gm,
.scl,
.mci {
  font-size: 6vw;
  font-family: "AppleGaramond-Bold";
  text-shadow: 2px 1px 1px #ffffff;
}

.law {
  font-size: 1.4vw;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-shadow: 2px 1px 1px #ffffff;
  max-width: 50vw;
}

.img-responsive {
  width: 100%;
  height: auto;
  box-shadow: 2px 3px 5px gray;
  border: 2px solid darkgreen;
  /* visibility: hidden;
  opacity: 0; */
}

/* .i-n {
  width: 500px;
} */

.i-n a {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  font-family: "Roboto";
  gap: 1%;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  white-space: nowrap;
}

.fa-arrow-circle-right {
  color: darkgreen !important;
}

.fa-arrow-circle-right:hover {
  transition: transform 0.6s ease;
  transform: scale(1.1);
}

.fa-arrow-circle-right:hover ~ .i-n-txt {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

.i-n-txt {
  color: black !important;
  width: 100%;
}

.i-n-txt:hover {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

/* disclosure start */

.disclosure .scencm {
  text-align: center;
  color: green;
  font-family: "AppleGaramond-Bold";
  font-size: 2vw;
}

.scfrm {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 0%;
  font-size: 1.5vw;
}

.permit-box {
  display: flex;
  justify-content: center;
}

.permit-box div {
  background-color: lightgray;
  border-radius: 2%;
}

.permit-img {
  visibility: hidden;
  opacity: 0;
  width: 35vw;
}

/* disclosure end */

.orgbox {
  background: linear-gradient(45deg, #fdfdfd00 50%, #18c5ff2b 100%);
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.org-pic {
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  border: solid 2px darkgreen;
}

/* blur img effect */
.blur-up {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
  will-change: filter;
}

.lazyloaded {
  filter: blur(0);
}
/* blur img effect end */

img.loaded {
  visibility: visible;
  opacity: 1;
  border: solid 3px darkgreen;
  box-shadow: 2px 3px 8px 0px #a5a5a5;
  transition: opacity 1s ease-in-out;
}

.bg-cp {
  background: conic-gradient(from 116deg, #18c5ff2b, #fdfdfd00, #64ffbe21);
}

.bg-ob {
  background: conic-gradient(from 116deg, #18c5ff2b, #fdfdfd00, #31ffa921);
}

.bg-hp {
  background: linear-gradient(45deg, #fdfdfd00 50%, #18c5ff2b 100%);
}

/* Responsive Design */
@media (max-width: 2561px) {
  .gm,
  .scl,
  .mci {
    font-size: 7vw;
  }

  .law {
    font-size: 1.5vw;
    max-width: 40vw;
  }

  .i-n-txt {
    font-size: 2vw;
  }

  .i-n a {
    gap: 1%;
    font-size: 3vw;
  }

  .fa-arrow-circle-right {
    font-size: 3vw;
  }

  .box-img {
    width: 100%;
  }

  .content1 {
    margin: 20vh 0 20vh 0;
  }

  .disclosure .scencm {
    font-size: 2vw;
  }

  .scfrm {
    font-size: 1.5vw;
  }

  .permit-img {
    max-height: 30vw;
  }

  .img1 {
    max-height: 50vh;
  }
}

@media (max-width: 1441px) {
  .content1 {
    margin: 20vh 0 10% 0;
  }
}

@media (max-width: 1025px) {
  .disclosure .scencm {
    font-size: 4vw;
  }
  .scfrm {
    font-size: 3.5vw;
  }
}

@media (max-width: 769px) {
  .gm,
  .scl,
  .mci {
    font-size: 8vw;
  }

  .law {
    font-size: 2.5vw;
    max-width: 80%;
  }

  .i-n a {
    gap: 1%;
    font-size: 3.5vw;
  }

  .content1 {
    margin: 25vh 0 20vh 0;
  }

  .permit-img {
    max-height: 60vw;
  }

  .org-pic {
    width: 100%;
  }

  .fa-arrow-circle-right {
    font-size: 7vw;
  }
}

@media (max-width: 426px) {
  .gm,
  .scl,
  .mci {
    font-size: 12vw;
  }

  .law {
    font-size: 3.8vw;
    max-width: 90%;
  }

  .i-n a {
    gap: 1vw;
    font-size: 7vw;
    margin-top: 1%;
  }

  .i-n-txt {
    font-size: 4vw;
  }

  .disclosure {
    margin: 8%;
  }

  .disclosure .scencm {
    font-size: 5vw;
  }

  .scfrm {
    font-size: 4vw;
  }

  .permit-box {
    margin: 8%;
  }

  .img1 {
    max-height: 250px;
  }

  .permit-img {
    width: auto;
  }
}
