@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.content1 {
  position: relative; /* Required for the ::after pseudo-element */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  /* align-items: center; */
  padding: 3% 6% 10% 6%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  z-index: -999;
  overflow: hidden;
  /* transition: background 0.5s ease; */
}

/* Prevents flickering during animation */
.content1.loaded {
  background: transparent;
}

.content1.loaded::after {
  content: "";
  position: absolute;
  /* top: 0; */
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://github.com/ejlef/GSMCI-Pictures/blob/main/img/gsmci-bg1-low.png?raw=true")
    no-repeat center center;
  background-size: cover;
  z-index: -999;
  overflow: hidden;
  animation: slide-up 0.6s ease forwards;
}

@keyframes slide-up {
  from {
    bottom: 0%;
  }
  to {
    top: 0%;
  }
}

.cnt1 {
  display: flex;
  flex-direction: column;
}

.cnt1 h1,
.promos-box h1 {
  margin-bottom: 0%;
}

.gm {
  color: darkviolet;
}

.gm,
.scl,
.mci {
  font-size: 1.5em;
  font-family: "AppleGaramond-Bold";
}

.law {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.img-responsive {
  width: 100%;
  height: auto;
  box-shadow: 2px 3px 5px gray;
  border: 2px solid darkgreen;
  /* visibility: hidden;
  opacity: 0; */
}

.i-n {
  position: static;
  font-family: "AppleGaramond-Bold";
  color: #fff;
  padding: 3%;
  background-color: darkgreen;
  border: 2.5px solid #ffff;
  text-decoration: none;
}

/* disclosure start */
.disclosure {
  margin: 8%;
}

.disclosure .scencm {
  text-align: center;
  color: green;
  font-family: "AppleGaramond-Bold";
  font-size: 2.5em;
}

.scfrm {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 0%;
}

.permit-box {
  display: flex;
  justify-content: center;
  margin: 7%;
}

.permit-box div {
  background-color: lightgray;
  border-radius: 2%;
}

.permit-img {
  visibility: hidden;
  opacity: 0;
}
/* disclosure end */

.orgbox {
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.org-pic {
  max-width: 100%;
  border: solid 2px darkgreen;
}

/* blur img effect */
.blur-up {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
  will-change: filter;
}

.lazyloaded {
  filter: blur(0);
}
/* blur img effect end */

.promos-box {
  margin: 5%;
  text-align: center;
}
.promos-box h1 {
  font-size: 4em;
  color: darkgreen;
  font-family: "AppleGaramond-Bold";
}

.promos-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5% 5% 5%;
}

.img1 {
  /* max-width: 200px; */
  max-height: 250px;
  padding: 1%;
  margin: 1%;
  border: solid 2px darkgreen;
}

.promos-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 3%;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff !important;
}

.box-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.carousel {
  display: flex;
  width: 100%;
}

.carousel-img {
  padding: 2%;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.carousel-inner {
  display: flex;
  height: auto;
  background-color: transparent;
}

.org-pic {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
}

img.loaded {
  visibility: visible;
  opacity: 1;
  border: solid 3px darkgreen;
  transition: opacity 1s ease-in-out;
}
/* Responsive Design */
@media (max-width: 2561px) {
  .content1 {
    padding: 2vh 6.5vw 5vh 6.5vw;
    gap: 3%;
  }

  .gm,
  .scl,
  .mci {
    font-size: 5vw;
  }

  .law {
    font-size: 1.7vw;
  }

  .i-n {
    padding: 4%;
    font-size: 1.5vw;
  }

  .box-img {
    width: 100%;
  }

  .disclosure .scencm {
    font-size: 3vw;
  }
  .scfrm {
    font-size: 2.5vw;
  }
  .permit-img {
    max-height: 65vh;
    max-width: 100%;
  }
}

@media (max-width: 1441px) {
  .carousel-img {
    max-height: 500px;
  }
}

@media (max-width: 1025px) {
  .disclosure .scencm {
    font-size: 4vw;
  }
  .scfrm {
    font-size: 3.5vw;
  }
}

@media (max-width: 769px) {
  .gm,
  .scl,
  .mci {
    font-size: 8vw;
  }

  .law {
    font-size: 4vw;
  }

  .i-n {
    padding: 5%;
    font-size: 2.5vw;
  }

  .content1 {
    flex-direction: column;
  }

  .promos-box h1 {
    font-size: 8vw;
  }

  .carousel-img {
    max-height: 300px;
  }
}

@media (max-width: 426px) {
  .gm,
  .scl,
  .mci {
    font-size: 10vw;
  }

  .law {
    font-size: 4.5vw;
  }

  .i-n {
    padding: 5%;
    font-size: 4vw;
  }

  .promos-pic {
    justify-content: left;
  }

  .disclosure {
    margin: 8%;
  }

  .disclosure .scencm {
    font-size: 6.5vw;
  }

  .permit-box {
    margin: 8%;
  }

  .scfrm {
    font-size: 4vw;
  }

  .img1 {
    max-height: 250px;
  }
}
