@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background: conic-gradient(from 46deg, #18c5ff2b, #fdfdfd00, #64ffbe21);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.n-and-u p,
.evnts {
  margin-bottom: 0%;
}

.n-and-u {
  font-family: "AppleGaramond-Bold";
  text-align: center;
  color: darkgreen;
}

.affidavit-box {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 5%;
}

.img1,
.img2 {
  width: 45%;
  box-shadow: 2px 2px 5px 0px #aaaaaa;
  border: solid 2px black;
}

.news-title,
.highlight1,
.highlight,
.evnts {
  font-family: "AppleGaramond-Bold";
}

.news-cnt,
.nt1 {
  font-family: "Roboto";
}

.highlight1 {
  color: green;
}

.highlight {
  color: darkviolet;
}

.box01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.evnts {
  color: darkgreen;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) !important;
}

.cntnt1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}

.carouse1align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-1 img {
  width: 100%;
}

.oopc1 {
  font-family: "Roboto";
  font-weight: bold;
  color: darkgreen;
}

/* .bknw {
  color: #fff;
  background-color: darkgreen;
  padding: 5%;
  font-size: 1.2em;
  font-weight: bold;
} */

/* blur img effect */
.blur-up {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
  will-change: filter;
}

.lazyloaded {
  filter: blur(0);
}

/* blur img effect end */

/* The Modal (background) Start */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  /* margin-top: -22px; */
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

/* Modal Content (image) End */

/* Responsive Design */
@media (max-width: 2561px) {
  .n-and-u {
    font-size: 3vw;
  }

  .box1 {
    margin: 3% 15%;
  }

  .img1,
  .img2 {
    width: auto;
  }

  .n-and-u {
    margin: 3% 0 0 0;
  }

  .news-box {
    margin: 5% 15% 5% 15%;
  }

  .news-title {
    font-size: 3vw;
  }

  .highlight1 {
    font-size: 2.5vw;
  }

  .news-cnt {
    font-size: 2vw;
  }

  .evnts {
    font-size: 3vw;
  }

  .oopc1 {
    font-size: 2vw;
  }

  .nt1 {
    font-size: 1.5vw;
  }
}

@media (max-width: 1441px) {
  .img1,
  .img2 {
    width: 30%;
  }

  .news-title {
    font-size: 2vw;
  }

  .highlight1 {
    font-size: 1.5vw;
  }

  .news-cnt {
    font-size: 1vw;
  }

  .evnts {
    font-size: 2vw;
  }
}

@media (max-width: 769px) {
  .news-title {
    font-size: 7vw;
  }

  .n-and-u {
    font-size: 6vw;
  }

  .img1,
  .img2 {
    width: 40%;
  }

  .box1 {
    margin: 3%;
  }

  .news-cnt {
    font-size: 4.5vw;
  }

  .highlight1 {
    font-size: 6.5vw;
  }

  .news-box {
    margin: 7.5%;
  }

  .evnts {
    font-size: 8vw;
  }

  .oopc1 {
    font-size: 5vw;
  }

  .nt1 {
    font-size: 4vw;
  }
}

@media (max-width: 426px) {
  .n-and-u {
    font-size: 8vw;
  }

  .prev,
  .next {
    display: none;
  }

  .btn-11 {
    font-size: 0.9rem;
  }

  .hd1 {
    display: block;
  }
  .hd2 {
    display: none;
  }
}
