@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AppleGaramond-Bold";
  src: url("../apple_garamond-font/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.our-business {
  text-align: center;
}

.our-business h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  margin: 0%;
  padding: 0%;
}

.content-business {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-business p {
  font-family: "Roboto", serif;
  font-size: 1.2em;
  hyphens: auto;
  line-height: 2;
  padding: 0 10%;
  margin: 0%;
}

.content-business p span {
  color: darkviolet;
}

.services1 span {
  font-weight: bold;
  color: black;
}

/* Responsive Design */
@media (max-width: 2561px) {
  .content-business p {
    padding: 2vh 15vw 5vh 16.5vw;
    font-size: 1.5vw;
  }

  .our-business h1 {
    font-size: 2.5vw;
  }
}

@media (max-width: 1440px) {
  .content-business p {
    padding: 2vh 10vw 5vh 11.5vw;
  }
}

@media (max-width: 769px) {
  /* .our-business {
    margin: 10% 3% 3% 3%;
  } */

  .our-business h1 {
    font-size: 8vw;
  }

  .content-business p {
    padding: 0.5vh 5vw 5vh 6.5vw;
    font-size: 4.5vw;
  }
}

/* @media (max-width: 426px) {
  .content-business p {
    padding: 0.5vh 5vw 5vh 6.5vw;
    font-size: 4vw;
  }
} */
