.our-business {
  margin: 5%;
  text-align: center;
}

.our-business h1 {
  font-family: "AppleGaramond-Bold";
  color: darkgreen;
  margin: 0%;
  padding: 0%;
}

.content-business {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-business p {
  font-family: "Roboto", serif;
  font-size: 1.2em;
  hyphens: auto;
  line-height: 2;
  padding: 0 10%;
  margin: 0%;
}

.content-business p span {
  color: darkviolet;
}

.services1 span {
  font-weight: bold;
  color: black;
}

@media (max-width: 769px) {
  .content-business p {
    text-align: left;
    padding: 0 3% 0 6%;
    font-size: 1.3em;
  }
  .our-business h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 426px) {
  .our-business h1 {
    font-size: 8vw;
  }

  .content-business p {
    padding: 0.5vh 5vw 5vh 6.5vw;
    font-size: 4vw;
  }
}
